@import '../../shared/theme';

.item-quantity-section {
  margin-top: 1em;
  background-color: $background-secondary;

  .item-quantity {
    margin: 1em;

    h2,
    label {
      color: $font-primary;
    }

    .btn-submit {
      position: relative;
      top: 2em;
      
    }
  }
}