<div class="row">
  <div class="col-6">
    <p *ngIf="name$ | async as name">
      {{ name }}
    </p>
  </div>

  <div class="row" *ngIf="quantity$ | async as quantity">
    <div class="form-group col-2">
      <label for="item-s">s</label>
      <input type="number" class="form-control" id="item-s" [placeholder]="(quantity[0]) ? quantity[0].s : 0" #quantityS>
    </div>
    <div class="form-group col-2">
      <label for="item-m">m</label>
      <input type="number" class="form-control" id="item-m" [placeholder]="(quantity[0]) ? quantity[0].m : 0" #quantityM>
    </div>
    <div class="form-group col-2">
      <label for="item-l">l</label>
      <input type="number" class="form-control" id="item-l" [placeholder]="(quantity[0]) ? quantity[0].l : 0" #quantityL>
    </div>
    <div class="form-group col-2">
      <label for="item-xl">xl</label>
      <input type="number" class="form-control" id="item-xl" [placeholder]="(quantity[0]) ? quantity[0].xl : 0" #quantityXL>
    </div>
    <div class="form-group col-2">
      <label for="item-xxl">xxl</label>
      <input type="number" class="form-control" id="item-xxl" [placeholder]="(quantity[0]) ? quantity[0].xxl : 0"
        #quantityXXL>
    </div>
    <div class="col-2">
      <button class="btn btn-primary" (click)="updateQuantity(quantity[0].itemKey, {
        s: quantityS.value, m: quantityM.value, l: quantityL.value, xl: quantityXL.value, xxl: quantityXXL.value
      })">Submit</button>
    </div>
  </div>

</div>
