<app-navbar></app-navbar>

<div class="container">
  <h2>Viewlog</h2>
  <p>Shop name:</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Actor</th>
        <th>Action</th>
        <th>Time</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody *ngIf="log$ | async as logs">
      <tr *ngFor="let log of logs">
        <td>{{ log.actor }}</td>
        <td>{{ log.act }}</td>
        <td>{{ log.time }}</td>
        <td>{{ log.msg }}</td>
      </tr>
    </tbody>
  </table>