@import '../../shared/theme';

.view-log-section {
  
  .view-log {

    h2,
    table {
      color: $font-primary
    }

    table {
      background-color: $background-secondary;
    }

    tbody {
      display: block;
      width: 100%;
      overflow: auto;
      height: 600px;
    }

    thead tr {
      display: block;
    }

    th,
    td {
      padding: 5px;
      text-align: left;
      width: 300px;
    }
  }
}
