<app-navbar></app-navbar>

<div class="view-log-section">
  <div class="view-log">
    <div class="container">
      <h2>Viewlog</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Actor</th>
            <th>Action</th>
            <th>Time</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody *ngIf="log$ | async as logs; else loading">
          <tr *ngFor="let log of logs">
            <td>{{ log.actor }}</td>
            <td>{{ log.act }}</td>
            <td>{{ log.time }}</td>
            <td>{{ log.msg }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #loading>
        <div class="text-center loading">
          <div class="spinner-grow text-light" style="margin: 4em 0" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
