<div class="item-table-section">
  <div class="item-table">
    <h2>
      Item
    </h2>
    <table class="table table-striped" *ngIf="items$ | async as items">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items; let i = index">
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td><button (click)="removeItem(item.key)">remove</button></td>
          <td><button (click)="selectItem(item.key, item.name)">select</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
