<div class="item-register-section">
  <div class="row item-register">
    <div class="form-group col-4">
      <label for="item-name">name</label>
      <input type="text" class="form-control" id="item-name" placeholder="name" #itemName>
    </div>
    <div class="form-group col-3">
      <label for="item-price">price</label>
      <input type="number" class="form-control" id="item-price" placeholder="price" #itemPrice>
    </div>
    <div class="form-group col-3">
      <label for="item-store">store</label>
      <select *ngIf="store$ | async as store; else loading" name="item-store" class="form-control form-selector"
        id="item-store" [disabled]="store.length == 0" [(ngModel)]="selectedOption" #itemStore>
        <option *ngIf="store.length == 0" value="">----</option>
        <option *ngFor="let s of store" [value]="s.name">{{ s.name }}</option>
      </select>

      <ng-template #loading>
        <select name="item-store" class="form-control form-selector" id="item-store" disabled>
          <option value="">loading..</option>
        </select>
      </ng-template>
    </div>
    <div class="col-1">
      <button class="btn btn-primary btn-submit"
        (click)="addItem(itemName.value, itemPrice.value, selectedOption)">Submit</button>
    </div>
  </div>
</div>
